/.idea
/target
/vl-convert-rs/tests/output/

__pycache__/
.pytest_cache/
*.py[cod]

.DS_Store
/vl-convert-rs/imports.js
/dist/
/vl-convert-python/notebooks/.ipynb_checkpoints/
/vl-convert-python/notebooks/output/
/vl-convert/tests/output/
/vl-convert-rs/tests/vl-specs/failed/

.pixi/
pixi.lock
pixi.toml

scratch/