[workspace]
resolver = "2"  # Needed for proper wgpu compilation

members = [
    "vl-convert-rs",
    "vl-convert"
]

[profile.release]
#strip = true  # Automatically strip symbols from the binary
opt-level = "z"  # Optimize for size
lto = true
codegen-units = 1