[package]
name = "vl-convert-rs"
version = "0.12.0"
edition = "2021"
license = "BSD-3-Clause"
readme = "README.md"
homepage = "https://github.com/jonmmease/vl-convert"
repository = "https://github.com/jonmmease/vl-convert"
description = "Library for converting Vega-Lite visualization specifications to Vega specifications"
keywords = ["Visualization", "Vega", "Vega-Lite"]

[dependencies]
# Deno 1.36.1. Before updating deno_runtime/deno_core, see note in DEVELOP.md
deno_runtime = "0.123.0"
deno_core = "0.200.0"
serde_json = {version="1.0.85", features=["preserve_order"]}
serde = {version="1.0.145", features=["derive"]}
futures = "0.3.24"
futures-util = "0.3.24"
tokio = {version= "1.28.1", features=["rt-multi-thread"]}
reqwest = {version="0.11.12", default-features=false, features=["rustls-tls", "blocking"]}
lazy_static = "1.4.0"
usvg = "0.35.0"
resvg = "0.35.0"
tiny-skia = "0.10.0"
png = "0.17.9"
fontdb = {version= "0.14.1", features=["fontconfig"]}
tempfile = "3.3.0"
log = "0.4.17"
env_logger = "0.10.0"
http = "0.2.8"

[dev-dependencies]
tokio = {version="1.21", features=["macros", "rt", "rt-multi-thread"]}
rstest = "0.17.0"
dssim = "3.2.4"

[build-dependencies]
serde_json = "1.0.85"
