[package]
name = "vl-convert-rs"
version = "1.2.3"
edition = "2021"
license = "BSD-3-Clause"
readme = "README.md"
homepage = "https://github.com/jonmmease/vl-convert"
repository = "https://github.com/jonmmease/vl-convert"
description = "Library for converting Vega-Lite visualization specifications to Vega specifications"
keywords = ["Visualization", "Vega", "Vega-Lite"]

[dependencies]
vl-convert-pdf = {path= "../vl-convert-pdf", version= "1.2.3" }

# Deno 1.38.4. Before updating deno_runtime/deno_core, see note in DEVELOP.md
deno_runtime = "0.134.0"
deno_core = "0.232.0"
deno_emit = "0.31.4"
deno_graph = "0.61.1"
serde_json = {version="1.0.106", features=["preserve_order"]}
serde = {version="1.0.188", features=["derive"]}
futures = "0.3.28"
futures-util = "0.3.28"
tokio = { version= "1.32.0" }
reqwest = {version="0.11.20", default-features=false, features=["rustls-tls"]}
lazy_static = "1.4.0"
usvg = "0.36.0"
resvg = "0.36.0"
tiny-skia = "0.11.2"
png = "0.17.10"
fontdb = {version= "0.15.0", features=["fontconfig"]}
tempfile = "3.8.0"
log = "0.4.20"
env_logger = "0.10.0"
http = "0.2.9"
image = {version="0.24.7", default-features=false, features=["jpeg"]}
lz-str = "0.2.1"
regex = "1"

[dev-dependencies]
tokio = {version="1.32", features=["macros", "rt"]}
rstest = "0.18.2"
dssim = "3.2.4"
